point-classification-model/
pointclouds/
demo-renders/
classified/
analysis/
custom/
source/

*.laz
*.las

N081E313_LAS_Phase2.copc.laz

PotreeConverter.zip
PotreeConverter/

.DS_Store

point-classification-model/cleaned/
point-classification-model/precleaned/
point-classification-model/source/

spec-generator-model/terraquery-flan-t5-small/
spec-generator-model/terraquery-flan-t5-small-v2/
spec-generator-model/__pycache__/
spec-generator-model/dataset_augmented.jsonl
